#home
{
background-image: conic-gradient(red, yellow, green, blue, black);
height: 960px;
width: 100%;
}

.heading
{
    color: white;
    font-weight: bolder;
    font-size: 100px;
    font-family: fantasy;
    text-align: center;
    width: 100%;
}

.but
{
    width: 255px;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    background-color: white;
}

h2
{
    font-size: 60px;
    background-color: darkblue;
    color: white;
}

.back
{
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    float: right;
}

.di
{
    height: 960px;
}

img
{
    height: 650px;
    width: 950px;
}